@media all and (max-width: 980px){
    .fs-head, .fs-nav, .fs-productSection{
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    .fs-shopby{
        display: none;
    }
    .underslider{
        display: block;
        margin-top: 50px;
    }
     .underslider_line{
        display: flex;
    }
    .fs-topnews{
        margin-bottom: 50px;
    }


}